@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white antialiased;
    font-family: 'Figtree', system-ui, sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .text-gradient {
    @apply text-white;
  }
}
